<nav class="navbar">
  <div class="nav-left">
    <span class="material-symbols-outlined menu" id="hamburger">menu</span>
    <img
      src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
      alt="Keep Logo"
      class="logo"
    />
    <span class="title">Keep</span>
  </div>

  <div class="nav-center">
    <div class="search-bar">
      <span class="material-symbols-outlined">search</span>
      <input type="text" />
    </div>
  </div>

  <div class="nav-right">
    <span class="material-symbols-outlined">refresh</span>
    <span class="material-symbols-outlined">view_agenda</span>
    <span class="material-symbols-outlined">settings</span>
    <span class="material-symbols-outlined">apps</span>
    <img src="https://imgs.search.brave.com/Xk_4aGWi_ROMXdy1HaC9EopBZLyEVkW7QYenSmW8VR0/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtY3NlLmNhbnZh/LmNvbS9ibG9iLzIx/NTkzNDYvMTYwMHct/RVc0Y2dnWGtnYmMu/anBn" alt="Profile" class="profile" />
  </div>
</nav>
