<aside class="sidebar">
  <ul>
    <li class="active"><span class="material-symbols-outlined">lightbulb</span> <p>Notes</p></li>
    <li><span class="material-symbols-outlined">notifications</span> <p>Reminders</p></li>
    <li><span class="material-symbols-outlined">label</span> <p>2025</p></li>
    <li><span class="material-symbols-outlined">edit</span> <p>Edit labels</p> </li>
    <li><span class="material-symbols-outlined">archive</span> <p>Archive</p></li>
    <li><span class="material-symbols-outlined">delete</span> <p>Bin</p></li>
  </ul>
</aside>
